.home {
  width: 100%;
  /* background-color: blanchedalmond; */
  height: 82vh;
  display: flex;
  /* flex: 90%; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home .backgroundImg {
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.headerContainer {
  position: relative;
  z-index: 1;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(15, 14, 14);
  border-radius: 15px;
  margin-top: 70px;
  opacity: 78%;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 60px;
  font-weight: 50;
  color: rgb(197, 151, 34);
  /* color: black; */
  font-weight: bold;
  margin-bottom: 35px;

}

.headerContainer h2 {
  color: #f75023;
  margin-bottom: 0px;
}
.headerContainer h3 {
  color: #f75023;
  margin-top: 0px;
}
.headerContainer span {
  font-size: 30px;
  color: rgb(197, 151, 34);
  margin-bottom: 0px;
}

.btnHome  {
  color: rgb(18, 96, 96);
  color: black;
  font-size: 18px;
  height: 40px;
  border: none;
  background: whitesmoke;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

button:hover {
  background-color: #f75023;
  color: black;
}

@media (max-width: 768px) {

/* .home .backgroundImg {
  height: 600px;
} */

button {
  width: auto;
}
.headerContainer h1 {
  margin-bottom: 55px;
}

}
